<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="booktitle" class="form-label">Book Name</label>
      <input type="text" class="form-control" id="booktitle" aria-describedby="emailHelp"  formControlName="booktitle">
    </div>
    <div class="mb-3">
      <label for="bookauthor" class="form-label">Author Name</label>
      <input type="text" class="form-control" id="bookauthor" formControlName="bookauthor">
    </div>
    <div class="mb-3">
        <label for="bookdescription" class="form-label">Discription</label>
        <input type="text" class="form-control" id="bookdescription" formControlName="bookdescription">
      </div>
      <hr class="mt-5">
    <div class="text-end"><button type="submit" class="btn btn-primary">Submit</button></div>
    
  </form>