<div class="container mt-5">
    <div class="row">
        <div class="d-flex justify-content-between">
            <div><h6>Book Store</h6></div>
            <div>
                <button  type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg> Add </button>
            </div>
        </div>
    </div>
    
    <table class="table table-success  table-striped mt-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Book Title</th>
            <th scope="col">Book Author</th>
            <th scope="col">Description</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of apiData;let i= index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.booktitle}}</td>
            <td>{{item.bookauthor}}</td>
            <td>{{item.bookdescription}}</td>
            <td class="text-center">
               <span (click)="fetchData(item)" class=" btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </span>
                  &nbsp;
                  <span (click)="remove(item.id)" class=" btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                </span> 
            </td>
          </tr>
        </tbody>
      </table>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="!editData" id="staticBackdropLabel">Add Book</h5>
          <h5 class="modal-title" *ngIf="editData" id="staticBackdropLabel">Edit Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reload()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="profileForm">
            <div class="mb-3">
              <label for="booktitle" class="form-label">Book Name</label>
              <input type="text" class="form-control" id="booktitle" aria-describedby="emailHelp"  formControlName="booktitle">
            </div>
            <div class="mb-3">
              <label for="bookauthor" class="form-label">Author Name</label>
              <input type="text" class="form-control" id="bookauthor" formControlName="bookauthor">
            </div>
            <div class="mb-3">
                <label for="bookdescription" class="form-label">Discription</label>
                <input type="text" class="form-control" id="bookdescription" formControlName="bookdescription">
              </div>
              <hr class="mt-5">
            <div class="text-end">
              <button type="submit" class="btn btn-primary" *ngIf="!editData" (click)="onSubmit()">Submit</button>
              <button type="submit" class="btn btn-info" *ngIf="editData"  (click)="UpdateData()">Update</button>
            </div>
            
            
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div>
  <div>